{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "printWidth": 100,
    "tabWidth": 2,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}